@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Source+Code+Pro:ital@1&display=swap');

* {
    font-family: var(--Font);
    scroll-behavior: smooth;
}

:root {
    --Font: 'Source Code Pro', monospace;
    --Blue: #0ad5ec;
    --Yellow: #ffff00;
    --limegreen: #32cd32;
}

body {
    padding: 0;
    margin: 0;
    background-color: #212529;
}

nav {
    background-color: #212529;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav a {
    text-decoration: none;
    color: var(--limegreen);
    font-weight: bold;
}

nav a:visited {
    color: var(--limegreen);
}

#Frontpage {
    position: relative;
    display: flex;
    /* Changed background image, reason is image's quality wasn't high enough */
    background-image: url("betterimage.jpg");
    background-repeat: no-repeat;
    /* Adding parallax to image */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

.image-section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#STT {
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 2;
    color: white; /* Change the text color as needed */
    text-align: center;
}

#STT h1 {
    margin: 0;
    font-size: 3em; /* Adjust the font size as needed */
}

#Aboutme {
    display: flex;
    justify-content: space-around;
    height: 500px;
}

#Aminfo {
    margin-top: 30px;
    width: 400px;
    font-size: x-large;
}

#Aminfo h1, h3{
    color: var(--limegreen);
}

#Aminfo p {
    color: white;
}

#Skills {
    font-weight: bolder;
    color: var(--limegreen);
}

#Protitle {
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
    color: var(--limegreen);
    font-size: xx-large;
}

#Pro1 {
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

#Proimg {
    width: 25%;
    margin-right: 25px;
} 

#Pro1info a, h1 {
    color: var(--limegreen);
}

#Pro1info p {
    color: white;
}

#footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #40444a;
    padding: 10px 0; /* Short hand syntax to set top/bottom padding (both now 10) and left and right to 0px */

}


#footer a {
    display: flex;
    justify-content: space-around;
    color: var(--limegreen);
    text-decoration: none;
}

#footer a:visited {
    color: var(--limegreen);
}

ion-icon {
    font-size: 64px;
  }

@media only screen and (max-width: 500px) {
    #Aboutme {
        display: flex;
        justify-content: space-around;
        height: 300px;
    }
    
    #Aminfo {
        margin-top: 30px;
        width: 200px;
        font-size: small;
    }

    #Aboutme img {
        width: 125px;
    }

    #Protitle {
        padding-left: 30px;
        padding-top: 25px;
        padding-bottom: 5px;
        color: var(--limegreen);
        font-size: large;
    }
    
    #Pro1 {
        display: flex;
        justify-content: space-around;
        height: 200px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #Proimg {
        width: 40%;
        margin-right: 5px;
        height: 245px;
    } 

    #Pro1info {
        height: 100%;
        font-size: 13px;
    }
    #footer a {
        font-size: 11px;
    }
}